.footer{
    background:#09091b;
    padding:80px 0 20px;
    border-top:1px solid rgba(255,255,255,0.08);
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:50px;
}

.footer-logo{
    color:#fff;
    font-size:34px;
    margin-bottom:20px;
}

.footer-logo span{
    color:#7b6cff;
}

.footer-about p{
    color:#b8b8c9;
    line-height:1.8;
}

.footer-links h3,
.footer-contact h3{
    color:#fff;
    margin-bottom:20px;
    font-size:22px;
}

.footer-links ul{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.footer-links a{
    color:#b8b8c9;
    transition:.3s;
}

.footer-links a:hover{
    color:#7b6cff;
}

.footer-contact p{
    color:#b8b8c9;
    margin-bottom:12px;
}

.footer-bottom{
    text-align:center;
    margin-top:60px;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,.08);
    color:#999;
    font-size:15px;
}

/* Tablet */

@media(max-width:992px){

.footer-container{
grid-template-columns:1fr 1fr;
}

}

/* Mobile */

@media(max-width:768px){

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.footer-links ul{
align-items:center;
}

}